@use '../custom' as *;

.box{
    width: 100%;
    height: 250px;
    background: #fff;
    border-radius: 15px;
    .imgserv{
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
        .imgsrc{
            width: 100%;
            height: 90px;
            object-fit: cover;
            border-radius: 15px;
            margin-top: -56px;
            position: relative;
            z-index: 0;
        }
        h1{
            z-index: 1;
            position: relative;
            color: #fff;
            text-shadow: 2px 2px #a03545;
        }
    }
    .boxbody{
        padding: 15px;
        text-align: center;
    }
    button{
        font-size: 1.1rem;
        font-family: inherit;
        letter-spacing: 1px;
    }
}

.boxfinal{
    width: 100%;
    height: 139px;
    background: #a03545;
    border-radius: 15px 15px 0 0;
    position: fixed;
    top: 100%;
    margin-top: -139px;
    z-index: 999;
    .boxfinalbody{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: #cfcfcf;
            strong{
                background: -webkit-linear-gradient(#ffffff, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 1.8rem;
            }
        }
        button{
            font-size: 1.1rem;
            font-family: inherit;
            letter-spacing: 1px;
            border: 1px solid #006a25;
            outline: 2px solid #131313;
        }
    }
}

.modal-body{
    display: flex;
    flex-direction: column;
    button{
        font-family: inherit;
        letter-spacing: 1px;
    }
}

// Responsive queries
@media (min-width: 576px){}
@media (max-width: 576px){}
@media (max-width: 768px){}
@media (max-width: 992px){}
@media (max-width: 1200px){}
@media (min-width: 1400px){}